{% macro tree(nodes, selectedSubject, selectedSubjectHierarchy) %}
    {% for node in nodes %}
        <li class="{{ node.id in selectedSubjectHierarchy ? 'expanded' : '' }} {{ node.id == selectedSubject.id ? 'active focused' : '' }}" id="{{ node.id }}"><a href="{{ path('subject_show', {'id': node.id}) }}">{{ node }}</a>
            <ul>
            {{ _self.tree(node.children, selectedSubject, selectedSubjectHierarchy) }}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}

<div class="row">
    <div class="col-md-12">
        <a id="add-subject" class="btn btn-xs btn-default pull-right sidebar-element" href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="tree">
            <ul id="treeData" style="display: none;">
                {{ _self.tree(subjects, selectedSubject, selectedSubjectHierarchy) }}
            </ul>
        </div>
    </div>
    <hr>
</div>
