<div class="panel panel-default">
    <div class="panel-body">
        <h4>{{ 'subject.list.title'|trans }}</h4>
        <form class="form-inline" action="{{ form.vars.action }}" method="{{ form.vars.method }}">
            <div class="form-group">
                {{ form_errors(form.parent) }}
                {{ form_widget(form.parent, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.label) }}
                {{ form_widget(form.label, {'attr': {'class':'form-control', 'placeholder': 'subject.list.new'|trans }}) }}
            </div>
            <button type="submit" class="btn btn-default">{{ 'subject.list.create'|trans }}</button>
            {{ form_rest(form) }}
        </form>
    </div>
</div>

<div id="tree"></div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#tree').treeview({data: {{ subjects|raw }}, enableLinks: true });
    });
</script>