<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Mind marker{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lobipanel/css/lobipanel.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lobilist/lobilist.min.css') }}" rel="stylesheet">
        <link href="{{ asset('fancytree/skin-bootstrap/ui.fancytree.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1>Mind marker <small>Personnal assitant</small></h1>
    </div>
    {% block body %}{% endblock %}
</div>
<!--footer class="footer">
    <div class="container">
        <p class="text-muted">©2016 Open Source.</p>
    </div>
</footer-->
{% block javascripts %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('lobipanel/js/lobipanel.min.js') }}"></script>
    <script src="{{ asset('lobilist/lobilist.js') }}"></script>
    <script src="{{ asset('fancytree/jquery.fancytree-all.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>